.cardDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgb(8, 11, 11);
    padding: 20px; 
}

/* card1 es para cada tarjeta individual */
.card1 {
    background-color: rgb(121, 119, 128);
    color: #070606;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px; /* Añadido para separación */
}

.card1 img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    display: block;
}

.card1:hover {
    transform: translateY(-5px);
}

.card2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.inicio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}



.head {
    background-color: #f10707cb;
    color: white;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 0 2px 10px rgba(249, 247, 252, 0.8);
    border-radius: 6px;
    margin: 0 0 20px 0; 
    font-size: 2rem;
    letter-spacing: 1px;
}

.text {
    background-color: #0c0202cb;
    color: white;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 0 2px 10px rgba(249, 247, 252, 0.8); 
    border-radius: 6px;
    margin: 0; 
    font-size: 1.2rem;
    line-height: 1.6;
}

.hc{
    color: white;
}
