.cardDiv{
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   background-color: aliceblue;
}

.card1{
    background-color: rgb(218, 222, 223);
    color: #402194;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card1 img{
    width: 300px;
    height: 250px;
    border-radius: 15px;
}

.card1:hover{
    transform: translateY(-5px);
}

.card2{
    background-color: rgb(218, 222, 223);
    color: #402194;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.card2 img{
    width: 300px;
    height: 250px;
    border-radius: 15px;

}

.card2:hover{
        transform: translateY(-5px);

}

.card3{
    background-color: rgb(218, 222, 223);
    color: #402194;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.card3 img{
    width: 300px;
    height: 250px;
    border-radius: 15px;

}

.card3:hover{
            transform: translateY(-5px);

}




