.carrito-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}



.carrito-header {
  background-color: #5eeb56;
  color: white;
  padding: 15px;
  text-align: center;
}

.carritoCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 220px;
  text-align: center;
  background-color: #f6f6f7;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.3);
}

.carritoCard:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.carritoCard img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.carritoCard h2 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

.carritoCard h3 {
  color: #1d9305;
  margin: 5px 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

.carritoCard button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #b9473a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.carritoCard button:hover {
    background-color: #f31e02;
    transform: translateY(-8px);

}