.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    
}

.formulario input,
.formulario textarea{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario button{
    padding: 10px;
    background-color: #ce0d0d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.formulario button:hover{
    background-color: #b9b0b0;
}

.mensaje-exito{
    color: green;
    margin-top: 10px;
}

.contacto-container{
    color: #f8f7f7;
}