.footerDiv{
     background-color: #020202;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.piepaginaDiv p{
     display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}