.footerDiv{
     background-color: #1d1919;
  color: rgb(245, 241, 241);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.piepaginaDiv p{
     display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}