.galeria-container {
 display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 28px;
    padding: 30px;
    max-width: 1400px;
    margin: auto;
    background-color: rgb(34, 4, 83);
}

.galeria-container img {
    width: 100%;
    height: 00px;
    object-fit: cover;
    border-radius: 10px;
}
.galeria-header {
    background-color: #5d0f8acb;
    color: white;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 0 2px 10px rgba(249, 247, 252, 0.8);
    border-radius: 6px;
    margin: 0 0 20px 0; 
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: 30px;
}