.productos-header {
    background: linear-gradient(135deg, #3223b1, #4f46b6);
    color: white;
    text-align: center;
    padding: 25px 10px;
    border-radius: 8px;
    margin: 30px 0 25px 0;
    font-size: 2rem;
    letter-spacing: 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}

.productosCard {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productosCard img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productosCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}



.btn-comprar{
    background-color: rgb(8, 138, 99);
     color: rgb(7, 6, 6);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-comprar:hover {
    background-color: #0ef706;
        transform: translateY(-8px);

}

.btn-eliminar{
    background-color: rgb(161, 65, 53);
     color: rgb(7, 6, 6);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-eliminar:hover {
    background-color: #f31e02;
        transform: translateY(-8px);

}