.productos-header {
    background-color: #140694cb;
    color: white;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 0 2px 10px rgba(253, 253, 253, 0.986);
    border-radius: 6px;
    margin: 0 0 20px 0; 
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: 30px;
}
    

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    
}

.productosCard{
    background-color: rgb(249, 247, 247);
    color: #070606;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
}

.productosCard img{
     width: 100%;
    height: 200px;
    border-radius: 15px;
    display: block;
}

.productosCard:hover{
        transform: translateY(-5px);

}