.sucursales-section {
    background-color: #111;
    padding: 30px;
    border-radius: 12px;
    width: 90%; 
    max-width: 1200px;
    box-shadow: 0 0 15px rgba(111, 6, 232, 0.801);
    color: #fff;
    margin: 0 auto;
    margin-top: 60px;
}

.sucursales-section h2 {
    text-align: center;
    color: #121ab5;
    margin-bottom: 30px;
    font-size: 2rem;
}

.sucursales-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
}

.sucursales-section .sucursal-card {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    border-left: 4px solid #34034a;
    margin-bottom: 0;
    transition: transform 0.3s;
}

.sucursales-section .sucursal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(136, 134, 134, 0.3);
}

.sucursales-section .sucursal-card h3 {
    margin: 0 0 10px 0;
    color: #2a6aff;
    font-size: 1.3rem;
    border-bottom: 1px solid #2a58ff;
    padding-bottom: 8px;
}

.sucursales-section .sucursal-card p {
    margin: 8px 0;
    font-size: 14px;
    color: #ddd;
}

@media (max-width: 900px) {
    .sucursales-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .sucursales-grid {
        grid-template-columns: 1fr; 
    }
}