.usuarios-header {
    text-align: center;
    margin-bottom: 20px;
}

.usuarios-header h1 {
    background: linear-gradient(135deg, #3223b1, #4f46b6);
    color: white;
    text-align: center;
    padding: 25px 10px;
    border-radius: 8px;
    margin: 30px 0 25px 0;
    font-size: 2rem;
    letter-spacing: 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.usuarios-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.tUsuarios {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(124, 124, 123);
    border: 1px solid #ddd;
}

.tUsuarios tr {
    border-bottom: 1px solid #140404;
}

.tUsuarios td, .tUsuarios th {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.tUsuarios th {
    background-color: #c9c5c5;
    font-weight: bold;
    color: #333;
}

.tUsuarios tr:hover {
    background-color: #f9f9f9;
}

.btn-editar {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #060af3;
    background-color: rgb(118, 114, 197);
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.btn-editar:hover {
    background-color: #9135a3;
        transform: translateY(-8px);

}



.btn-eliminar {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #fd8a06;
    background-color: rgb(228, 53, 9);
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.btn-eliminar:hover {
    background-color: #e70a0a;
        transform: translateY(-8px);

}

.usuarios-container > p {
    text-align: center;
    color: #666;
    padding: 20px;
    border: 1px solid #1d1b1b;
    background-color: #523ed7;
}